In [2]:
import pandas as pd

pd_reader = pd.read_csv("data.csv",encoding="ANSI")
display(pd_reader)
df = pd_reader

       コード         企業名      業種       売上高     営業利益  配当利回り   ROE  利益成長
0     1301         ㈱極洋  水産・農林業  254783.0   4066.0   1.82  11.9  -2.5
1     1332       日本水産㈱  水産・農林業  683008.0  23489.0   1.38  13.4  -7.7
2     1333     マルハニチロ㈱  水産・農林業  918820.0  24497.0   1.05  14.9   5.5
3     1352       ㈱ホウスイ     卸売業   73928.0    837.0   1.92   7.3 -41.2
4     1376      カネコ種苗㈱  水産・農林業   59102.0   1747.0   1.73   5.4  43.0
...    ...         ...     ...       ...      ...    ...   ...   ...
2100  9991       ジェコス㈱     卸売業  104825.0   5847.0   2.61   9.2   1.4
2101  9993       ㈱ヤマザワ     小売業  114303.0   1159.0   1.81   1.3 -66.6
2102  9994        ㈱やまや     小売業  168960.0   7411.0   1.61  12.1   0.1
2103  9995  ㈱ルネサスイーストン     卸売業   81616.0   1990.0   2.17   5.2 -29.9
2104  9997       ㈱ベルーナ     小売業  161673.0  13008.0   1.05  10.9   8.6

[2105 rows x 8 columns]

In [3]:
df[df['業種']=='銀行業']

       コード                 企業名   業種       売上高  営業利益  配当利回り   ROE  利益成長
1324  7150               ㈱島根銀行  銀行業   10536.0   NaN   4.08   3.2 -43.2
1325  7161        ㈱じもとホールディングス  銀行業   42666.0   NaN   2.81   2.6 -33.6
1327  7167     ㈱めぶきフィナンシャルグループ  銀行業  213284.0   NaN   3.09  21.8 -75.6
1328  7173  ㈱東京きらぼしフィナンシャルグループ  銀行業   82616.0   NaN   2.47   1.2 -14.1
1329  7180      ㈱九州フィナンシャルグループ  銀行業  164696.0   NaN   2.21   3.1  17.5
...    ...                 ...  ...       ...   ...    ...   ...   ...
1777  8562               ㈱福島銀行  銀行業   13618.0   NaN   0.00 -10.0   NaN
1778  8563               ㈱大東銀行  銀行業   13576.0   NaN   2.42   3.4 -23.0
1790  8600        トモニホールディングス㈱  銀行業   72641.0   NaN   1.70   5.2 -15.3
1811  8713       フィデアホールディングス㈱  銀行業   51026.0   NaN   3.45   3.7 -35.6
1812  8714       ㈱池田泉州ホールディングス  銀行業  111612.0   NaN   3.86   3.4 -33.9

[84 rows x 8 columns]

In [4]:
rtn = df.loc[:, ['企業名','配当利回り']]
#display(rtn)
rtn = rtn.loc[:,'配当利回り']

print('平均配当利回り:', rtn.mean())

平均配当利回り: 1.8753152683689425

In [5]:
sort = df.sort_values('利益成長',ascending=False)
#print(sort)
sort = sort.iloc[0:10]
top10 = sort.loc[:,'利益成長']

print('利益成長の上位10社の平均値:', top10.mean())

利益成長の上位10社の平均値: 2951.2

In [6]:
amount = df.loc[:, ['企業名','売上高']]
amount = amount.loc[:,'売上高']

print('平均値：',amount.mean(), 
      '\n中央値：',amount.median())

平均値： 366527.9704057279
中央値： 77485.0

In [20]:
ROE = df.loc[:, 'ROE']
#print(ROE)
ROE_high = df[df.ROE > ROE.quantile(q=0.9)]
ROE_low  = df[df.ROE < ROE.quantile(q=0.1)]

print('ROE上位10％と下位10％の差：',ROE_high.loc[:, 'ROE'].mean() - ROE_low.loc[:, 'ROE'].mean())

ROE上位10％と下位10％の差： 34.63740719588806

In [8]:
amount0 = df.loc[:, '売上高']

# 売上高上位10％の企業
high = df[df.売上高 > amount0.quantile(q=0.9)]
high = high.sort_values('売上高',ascending=False)
display(high)

       コード            企業名      業種         売上高       営業利益  配当利回り    ROE   利益成長
1341  7203        トヨタ自動車㈱   輸送用機器  29379510.0  2399862.0   3.17   13.7  -13.7
1370  7267        本田技研工業㈱   輸送用機器  15361146.0   833558.0   2.97   13.9  -41.0
1019  6178          日本郵政㈱   サービス業  12920375.0        NaN   4.64    3.4  -27.8
1339  7201         日産自動車㈱   輸送用機器  11951169.0   574760.0   5.09   14.6  -33.1
1955  9432        日本電信電話㈱  情報・通信業  11799587.0  1642843.0   2.84    9.8   -1.1
...    ...            ...     ...         ...        ...    ...    ...    ...
1292  6954         ファナック㈱    電気機器    726596.0   229604.0   2.59   12.9  -20.2
105   1963            日揮㈱     建設業    722987.0    21495.0   1.11    4.3  -39.8
145   2181  パーソルホールディングス㈱   サービス業    722183.0    36068.0   0.80    5.5  180.0
1211  6740    ㈱ジャパンディスプレイ    電気機器    717522.0   -61749.0   0.00 -122.0    NaN
1483  7731           ㈱ニコン    精密機器    717078.0    56236.0   1.77    6.3   52.4

[210 rows x 8 columns]

In [9]:
# 売上高下位10％の企業
low = df[df.売上高 < amount0.quantile(q=0.1)]
low = low.sort_values('売上高',ascending=False)
display(low)

       コード           企業名          業種      売上高    営業利益  配当利回り   ROE   利益成長
518   3788      ＧＭＯクラウド㈱      情報・通信業  12206.0  1061.0   0.76  12.8   10.1
524   3836         ㈱アバント      情報・通信業  12110.0  1631.0   0.89  24.5    1.5
1261  6858         ㈱小野測器        電気機器  12077.0   182.0   1.77   1.4  255.5
958   5974         中国工業㈱        金属製品  12028.0    83.0   1.53   2.2  -13.4
653   4333  ㈱東邦システムサイエンス      情報・通信業  11988.0   896.0   2.34   9.8   12.2
...    ...           ...         ...      ...     ...    ...   ...    ...
1180  6620   宮越ホールディングス㈱        電気機器   1344.0   900.0   0.00   4.9   -6.0
555   3939  ㈱カナミックネットワーク      情報・通信業   1291.0   330.0   0.26  26.2  -49.2
1797  8617         光世証券㈱  証券、商品先物取引業   1245.0   273.0   2.64   1.5    NaN
546   3920       アイビーシー㈱      情報・通信業   1216.0   186.0   0.00   8.0   11.9
919   5721     ㈱エス・サイエンス        非鉄金属   1045.0  -309.0   0.00  -9.6  107.3

[210 rows x 8 columns]

In [10]:
# T検定を行う
import math

high_mean = high.loc[:,'売上高'].mean()
high_var = high.loc[:,'売上高'].var()
n_x = 210

low_mean = low.loc[:,'売上高'].mean()
low_var = low.loc[:,'売上高'].var()
n_y = 210

T = (high_mean - low_mean) / math.sqrt(high_var/n_x + low_var/n_y)
print(T)

def student(t):
    if t > 2:
        print('有意差あり')
    else:
        print('有意差なし')
    return

student(T)

12.137538520701778
有意差あり